 .u-section-1 {
  background-image: linear-gradient(45deg, white, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 733px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 13px 299px 0 346px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 35px -26px 0 21px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -22px 389px 0 auto;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 514px;
  margin: 21px 311px 0 358px;
}

.u-section-1 .u-label-1 {
  font-style: italic;
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-style: italic;
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-style: italic;
  font-weight: 700;
}

.u-section-1 .u-label-4 {
  font-style: italic;
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-style: italic;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
    font-style: normal;
    margin-right: 199px;
    margin-left: 246px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 189px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 211px;
    margin-left: 258px;
  }

  .u-section-1 .u-form-group-3 {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 89px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 101px;
    margin-left: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 45px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 11px;
    margin-left: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 432px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  margin: 27px auto 0 -2px;
}

.u-section-2 .u-table-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-block-df4e-4 {
  background-image: none;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  background-image: none;
}

.u-block-df4e-31 {
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 44px;
  }
}